@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

html,
body {
  height: 100%;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: grid;
  place-items: center;
  background: #faf8ff;
  font-family: "Poppins";
  text-align: center;
}

.notification {
  position: absolute;
  bottom: 50px;
  left: 50px;
  width: max-content;
  padding: 20px 15px;
  border-radius: 4px;
  color: #fff;
  background-color: #9563ff;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  transform: translateY(30px);
  opacity: 0;
  visibility: hidden;
  animation: fade-in 4s linear forwards;
}

.hide {
  display: none;
}

.notification__progress {
  position: absolute;
  left: 5px;
  bottom: 5px;
  width: calc(100% - 10px);
  height: 3px;
  transform: scaleX(0);
  transform-origin: left;
  background-color: #fff;
  border-radius: inherit;
  animation: load 3s 0.25s linear forwards;
}

@keyframes fade-in {
  5% {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
  90% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
  }
}

@keyframes load {
  to {
    transform: scaleX(1);
  }
}

.card {
  display: flex;
  flex-direction: column;
  width: 360px;
  height: 490px;
  padding: 80px 0 0;
  border-radius: 10px;
  background: #ffffff;
  box-shadow: 0 20px 150px rgb(0 0 0 / 5%);
}

img {
  margin: 0 auto 30px;
  width: 140px;
  height: 140px;
  object-fit: contain;
}

h2 {
  color: #2f2e41;
  margin: 0 0 6px;
}

h3 {
  color: #69687a;
  margin: 0 0 24px;
  font-weight: 400;
  font-size: 14px;
  align-self: stretch;
}

input,
button {
  display: block;
  height: 48px;
  width: 270px;
  margin: 0 40px;
  border-radius: 4px;
  font-size: 16px;
  font-family: inherit;
  outline: none;
  text-align: center;
}

input {
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.16);
  padding: 12px;
  margin-bottom: 8px;
}

input::placeholder {
  color: rgba(0, 0, 0, 0.24);
}

button {
  background: #9563ff;
  color: #f9f9f9;
  border: 0;
  cursor: pointer;
  transition: 0.175s;
}

button:disabled {
  background: #e1e0e8;
  color: #bbbac5;
  cursor: not-allowed;
}

button.secondary {
  background: transparent;
  color: #7e7d8a;
}

button[type="submit"] {
  margin-bottom: 8px;
}

.swiper {
  width: 100%;
}
