#n1,
#n2 {
  padding: 10px;
  font-size: 25px;
  width: 80px;
}

#calcular {
  padding: 10px;
  margin-top: 20px;
  font-size: 23px;
  cursor: pointer;
}

.resultado {
  border: 1px dashed #fff;
  padding: 20px;
  font-size: 16px;
  width: 250px;
  margin: auto;
}
